<section id="social-icons">
  <ul class="social-list">
    <li>
      <a href="https://github.com/glenntfung" aria-label="GitHub" target="_blank">
        <i class="fab fa-github fa-lg"></i>
      </a>
    </li>
    <li>
      <a href="https://x.com/glenntfung" aria-label="X" target="_blank">
        <i class="fab fa-x-twitter fa-lg"></i>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/glennfung/" aria-label="LinkedIn" target="_blank">
        <i class="fab fa-linkedin fa-lg"></i>
      </a>
    </li>
    <li>
      <a href="mailto:glenntfung@gmail.com" aria-label="Email" target="_blank">
        <i class="fas fa-envelope fa-lg"></i>
      </a>
    </li>
    <li>
      <a href="https://www.kaggle.com/glennfung1" aria-label="Kaggle" target="_blank">
        <i class="fab fa-kaggle fa-lg"></i>
      </a>
    </li>
    <li>
      <a href="https://medium.com/@glenntfung" aria-label="Medium" target="_blank">
        <i class="fab fa-medium fa-lg"></i>
      </a>
    </li>
    <li>
      <a href="/feed.xml" aria-label="RSS Feed" target="_blank">
        <i class="fas fa-rss fa-lg"></i>
      </a>
    </li>
  </ul>

  <br>
</section>
