---
layout: home
title: Welcome!
permalink: /
---

<html>
<head>
    <title>Glenn Fung</title>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport'/>
    <link rel='shortcut icon' href='/assets/img/icon.png' />

    <link href='/css/blog.css' rel='stylesheet'/>
    <link href='/css/trac.css' rel='stylesheet'/>
    <link href='/css/markdown.css' rel='stylesheet'/>

    {% include head.html %}
    {% include mathjax.html %}

</head>
<body>

      <main class="wrap">
    <div id='blog' class='wrap'>
        <br>
        <br>
        <h2>Glenn Fung</h2>
        <a href='/about'>About</a><br>
        <a href='/blog'>Blog</a><br>
        <a href='/news'>News</a><br>
        <a href='/research'>Research</a><br>
        <a href='/teaching'>Teaching</a><br>
        <div style="font-family: courier;">glenntfung[at]gmail.com</div>
        <div style="font-family: courier;"><s>[first]f[at]uchicago.edu</s></div>
        <br>
        You can click <a href="https://cal.com/glenn-fung-mqul3k/default">here</a> to pick a timeslot to talk with me! I am interested in chatting about anything, not limited to research!
    </div>


  <!-- ─── START: Social Icons Row ─── -->
    <section id="social-icons", class="section">
      <ul class="social-list">
        <li>
      <a href="https://github.com/glenntfung" aria-label="GitHub" target="_blank">
        <i class="fab fa-github fa-lg"></i>
      </a>
    </li>
    <li>
      <a href="https://x.com/glenntfung" aria-label="X" target="_blank">
        <i class="fab fa-x-twitter fa-lg"></i>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/glennfung/" aria-label="LinkedIn" target="_blank">
        <i class="fab fa-linkedin fa-lg"></i>
      </a>
    </li>
    <li>
      <a href="mailto:glenntfung@gmail.com" aria-label="Email" target="_blank">
        <i class="fas fa-envelope fa-lg"></i>
      </a>
    </li>
    <li>
      <a href="https://www.kaggle.com/glennfung1" aria-label="Kaggle" target="_blank">
        <i class="fab fa-kaggle fa-lg"></i>
      </a>
    </li>
    <li>
      <a href="https://medium.com/@glenntfung" aria-label="Medium" target="_blank">
        <i class="fab fa-medium fa-lg"></i>
      </a>
    </li>
    <li>
      <a href="/feed.xml" aria-label="RSS Feed" target="_blank">
        <i class="fas fa-rss fa-lg"></i>
      </a>
    </li>
      </ul>
    </section>
  <!-- ─── END: Social Icons Row ─── -->

  


   <i><p>&copy; {{ site.time | date: "%Y" }} Glenn Fung. This website was adapted from <a href="http://gregorygundersen.com/">Gregory Gunderson</a>.</p></i>
  </main>


  


</body>




</html>
